<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 在spring文件中配置bean ，这样spring才可以帮助我们管理这个对象 -->
    <!--
        bean标签两个重要属性：
            id：bean的唯一标识
            class：类的全路径，全限定名（带包名的类名）
    -->
    <bean id="userBean" class="com.wdd.spring6.bean.User"/>
    <bean id="nowtime" class="java.util.Date"/>

</beans>